USE [master]
GO
/****** Object:  Database [SmartDb]    Script Date: 8/18/2026 8:58:48 PM ******/
CREATE DATABASE [SmartDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmenityBookings]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmenityBookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [int] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AmenityBookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [nvarchar](450) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NULL,
	[EntityId] [nvarchar](100) NULL,
	[Details] [nvarchar](1000) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillItems]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceBillId] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_BillItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[AssignedStaffId] [nvarchar](450) NULL,
	[WorkNotes] [nvarchar](1000) NULL,
	[SlaTargetDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyContacts]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EmergencyContacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyMembers]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
 CONSTRAINT [PK_FamilyMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flats]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockName] [nvarchar](50) NOT NULL,
	[FlatNumber] [nvarchar](20) NOT NULL,
	[OccupancyType] [int] NOT NULL,
	[IsOccupied] [bit] NOT NULL,
 CONSTRAINT [PK_Flats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GateLogs]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GateLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[SecurityGuardId] [nvarchar](450) NOT NULL,
	[EntryTime] [datetime2](7) NOT NULL,
	[ExitTime] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_GateLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceBills]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceBills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatId] [int] NOT NULL,
	[AmountDue] [float] NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[BillingMonth] [datetime2](7) NOT NULL,
	[PenaltyAmount] [float] NOT NULL,
 CONSTRAINT [PK_MaintenanceBills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notices]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[NoticeType] [int] NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_Notices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceBillId] [int] NOT NULL,
	[ApplicationUserId] [nvarchar](450) NOT NULL,
	[Amount] [float] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[TransactionReference] [nvarchar](100) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollOptions]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PollId] [int] NOT NULL,
	[OptionText] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PollOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polls]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](500) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Polls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollVotes]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollVotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PollId] [int] NOT NULL,
	[PollOptionId] [int] NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[VotedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PollVotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResidentProfiles]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [nvarchar](450) NOT NULL,
	[FlatId] [int] NOT NULL,
	[CNIC] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ResidentProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentProfileId] [int] NOT NULL,
	[RegistrationNumber] [nvarchar](20) NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Color] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 8/18/2026 8:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatId] [int] NOT NULL,
	[VisitorName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[VehicleNumber] [nvarchar](20) NULL,
	[GatePassCode] [nvarchar](50) NOT NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidUntil] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Visitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260815093332_InitialCreate', N'10.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260815101112_AddApplicationUserResidentProfileRelation', N'10.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260815101944_AddUniqueResidentCNIC', N'10.0.11')
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Location], [Capacity], [IsActive]) VALUES (1, N'Community Hall', N'Spacious hall for society events, meetings and gatherings', N'Block A Ground Floor', 100, 1)
INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Location], [Capacity], [IsActive]) VALUES (2, N'Ballroom', N'Society community hall', N'Society community hall', 100, 1)
INSERT [dbo].[Amenities] ([Id], [Name], [Description], [Location], [Capacity], [IsActive]) VALUES (3, N'Swimming Pool', N'Swimming Pool → Community swimming pool for residents
', N'Block A Recreation', 30, 1)
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[AmenityBookings] ON 

INSERT [dbo].[AmenityBookings] ([Id], [ResidentProfileId], [AmenityId], [BookingDate], [StartTime], [EndTime], [Status], [Remarks], [CreatedAt]) VALUES (1, 4, 1, CAST(N'2026-08-16T00:00:00.0000000' AS DateTime2), CAST(N'18:23:00' AS Time), CAST(N'22:23:00' AS Time), 1, N'jhkhghgh', CAST(N'2026-08-16T12:23:48.0261531' AS DateTime2))
INSERT [dbo].[AmenityBookings] ([Id], [ResidentProfileId], [AmenityId], [BookingDate], [StartTime], [EndTime], [Status], [Remarks], [CreatedAt]) VALUES (2, 5, 2, CAST(N'2026-08-30T00:00:00.0000000' AS DateTime2), CAST(N'16:22:00' AS Time), CAST(N'21:22:00' AS Time), 1, N'Samll birthday event ', CAST(N'2026-08-17T10:23:09.6506340' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AmenityBookings] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0fbd2241-faff-4280-9f91-a3a214729451', N'Admin', N'ADMIN', N'e239cdc3-279e-4c4c-a21e-a980aff89946')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6cd942e7-1fb5-41ad-833f-0d8759ecae97', N'Resident', N'RESIDENT', N'6203cb2f-9726-43d7-8e8a-ca0e00ce0b82')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6eff492a-09c4-4e28-9f78-dffbc5f60047', N'MaintenanceStaff', N'MAINTENANCESTAFF', N'054804c0-2ed7-428a-b957-9f2df15f0331')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'28bcd8de-fc32-49c5-80b3-f8af4c71c314', N'0fbd2241-faff-4280-9f91-a3a214729451')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'31593323-8277-4f73-8ebf-41cba44b9cf7', N'6cd942e7-1fb5-41ad-833f-0d8759ecae97')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'542cd187-2159-47d6-8c9a-53ac3aa4176c', N'6cd942e7-1fb5-41ad-833f-0d8759ecae97')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [ApplicationUserId], [Action], [EntityName], [EntityId], [Details], [Timestamp], [IpAddress]) VALUES (1, N'28bcd8de-fc32-49c5-80b3-f8af4c71c314', N'Create', N'Vehicle', N'1', N'Registration:ABC-123', CAST(N'2026-08-16T07:21:18.3123472' AS DateTime2), N'::1')
INSERT [dbo].[AuditLogs] ([Id], [ApplicationUserId], [Action], [EntityName], [EntityId], [Details], [Timestamp], [IpAddress]) VALUES (2, N'28bcd8de-fc32-49c5-80b3-f8af4c71c314', N'Update', N'Vehicle', N'1', N'Registration:ABC-123', CAST(N'2026-08-16T07:21:28.7310167' AS DateTime2), N'::1')
INSERT [dbo].[AuditLogs] ([Id], [ApplicationUserId], [Action], [EntityName], [EntityId], [Details], [Timestamp], [IpAddress]) VALUES (3, N'28bcd8de-fc32-49c5-80b3-f8af4c71c314', N'Create', N'Visitor', N'1', N'Name:Aisha;GatePass:VP123456', CAST(N'2026-08-16T08:00:47.5000092' AS DateTime2), N'::1')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

INSERT [dbo].[Complaints] ([Id], [ResidentProfileId], [Category], [Description], [Status], [CreatedAt], [ResolvedAt], [AssignedStaffId], [WorkNotes], [SlaTargetDate]) VALUES (1, 3, 4, N'mnmnmnmnmnmnmnmnmnmnmn', 1, CAST(N'2026-08-16T13:00:47.5271398' AS DateTime2), NULL, N'9a469447-fc42-4b7b-8d28-ddf1cf3a13ac', N'bnbnnmnmn', CAST(N'2026-08-18T21:06:00.0000000' AS DateTime2))
INSERT [dbo].[Complaints] ([Id], [ResidentProfileId], [Category], [Description], [Status], [CreatedAt], [ResolvedAt], [AssignedStaffId], [WorkNotes], [SlaTargetDate]) VALUES (2, 5, 1, N'ghghghkghkghgkhghkghghkg', 2, CAST(N'2026-08-16T13:49:20.5144715' AS DateTime2), NULL, N'1c362354-a7c1-44f7-9d39-abd606074216', NULL, NULL)
INSERT [dbo].[Complaints] ([Id], [ResidentProfileId], [Category], [Description], [Status], [CreatedAt], [ResolvedAt], [AssignedStaffId], [WorkNotes], [SlaTargetDate]) VALUES (3, 5, 2, N'Open wiring issues in stair and top of the roof', 3, CAST(N'2026-08-16T18:09:51.1358032' AS DateTime2), CAST(N'2026-08-17T23:28:00.0000000' AS DateTime2), N'1c362354-a7c1-44f7-9d39-abd606074216', N'work id done', CAST(N'2026-08-16T23:28:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[EmergencyContacts] ON 

INSERT [dbo].[EmergencyContacts] ([Id], [ResidentProfileId], [Name], [Relationship], [PhoneNumber]) VALUES (1, 5, N'Aliya', N'friend', N'03142336699')
SET IDENTITY_INSERT [dbo].[EmergencyContacts] OFF
GO
SET IDENTITY_INSERT [dbo].[FamilyMembers] ON 

INSERT [dbo].[FamilyMembers] ([Id], [ResidentProfileId], [Name], [Relationship], [DateOfBirth]) VALUES (1, 5, N'Zawar', N'friend', CAST(N'2026-08-12T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[FamilyMembers] ([Id], [ResidentProfileId], [Name], [Relationship], [DateOfBirth]) VALUES (2, 9, N'Ahmed Shah', N'Brother', CAST(N'1988-01-18T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FamilyMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Flats] ON 

INSERT [dbo].[Flats] ([Id], [BlockName], [FlatNumber], [OccupancyType], [IsOccupied]) VALUES (1, N'riyazuddin block', N'1234567', 1, 1)
INSERT [dbo].[Flats] ([Id], [BlockName], [FlatNumber], [OccupancyType], [IsOccupied]) VALUES (2, N'hsbxhsxgh', N'56789', 2, 1)
INSERT [dbo].[Flats] ([Id], [BlockName], [FlatNumber], [OccupancyType], [IsOccupied]) VALUES (3, N'rizvia falcon', N'1234567', 1, 1)
SET IDENTITY_INSERT [dbo].[Flats] OFF
GO
SET IDENTITY_INSERT [dbo].[GateLogs] ON 

INSERT [dbo].[GateLogs] ([Id], [VisitorId], [SecurityGuardId], [EntryTime], [ExitTime], [Status], [Remarks]) VALUES (2, 1, N'c0761682-2d6f-4f63-b621-6bcf6da17eb6', CAST(N'2026-08-16T17:17:00.0000000' AS DateTime2), CAST(N'2026-08-18T17:17:00.0000000' AS DateTime2), 1, N'vgvjgv')
INSERT [dbo].[GateLogs] ([Id], [VisitorId], [SecurityGuardId], [EntryTime], [ExitTime], [Status], [Remarks]) VALUES (3, 7, N'37898765-ddc9-4ed2-8465-e11fea89db69', CAST(N'2026-08-16T23:32:57.4913660' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[GateLogs] ([Id], [VisitorId], [SecurityGuardId], [EntryTime], [ExitTime], [Status], [Remarks]) VALUES (4, 3, N'37898765-ddc9-4ed2-8465-e11fea89db69', CAST(N'2026-08-16T23:33:18.8316413' AS DateTime2), CAST(N'2026-08-17T01:08:42.1501475' AS DateTime2), 2, NULL)
SET IDENTITY_INSERT [dbo].[GateLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceBills] ON 

INSERT [dbo].[MaintenanceBills] ([Id], [FlatId], [AmountDue], [DueDate], [PaymentStatus], [BillingMonth], [PenaltyAmount]) VALUES (1, 1, 30000, CAST(N'2026-09-18T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), 3460)
INSERT [dbo].[MaintenanceBills] ([Id], [FlatId], [AmountDue], [DueDate], [PaymentStatus], [BillingMonth], [PenaltyAmount]) VALUES (3, 1, 5000, CAST(N'2026-09-16T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), 5000)
INSERT [dbo].[MaintenanceBills] ([Id], [FlatId], [AmountDue], [DueDate], [PaymentStatus], [BillingMonth], [PenaltyAmount]) VALUES (4, 5, 7500, CAST(N'2026-09-18T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), 500)
SET IDENTITY_INSERT [dbo].[MaintenanceBills] OFF
GO
SET IDENTITY_INSERT [dbo].[Notices] ON 

INSERT [dbo].[Notices] ([Id], [Title], [Content], [NoticeType], [PublishDate], [ExpiryDate], [IsPublished]) VALUES (1, N'bhbhgh', N'hghghghghghkghkgfhkfhkfkgfgfgkfhkf', 2, CAST(N'2026-08-16T15:21:00.0000000' AS DateTime2), CAST(N'2026-08-29T15:21:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Notices] OFF
GO
SET IDENTITY_INSERT [dbo].[Polls] ON 

INSERT [dbo].[Polls] ([Id], [Question], [StartDate], [EndDate], [IsActive]) VALUES (1, N'ghghg', CAST(N'2026-08-16T15:22:00.0000000' AS DateTime2), CAST(N'2026-09-05T15:22:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Polls] OFF
GO
SET IDENTITY_INSERT [dbo].[ResidentProfiles] ON 

INSERT [dbo].[ResidentProfiles] ([Id], [ApplicationUserId], [FlatId], [CNIC], [FullName]) VALUES (3, N'31593323-8277-4f73-8ebf-41cba44b9cf7', 3, N'35202-1234567-1', N'Ali raza')
INSERT [dbo].[ResidentProfiles] ([Id], [ApplicationUserId], [FlatId], [CNIC], [FullName]) VALUES (4, N'96d155c7-5bf3-48cb-ac9a-95e580212637', 2, N'35202-1234567-2', N'Aisha')
INSERT [dbo].[ResidentProfiles] ([Id], [ApplicationUserId], [FlatId], [CNIC], [FullName]) VALUES (5, N'6fa95ea8-cfe6-4279-8946-56c148d41ce0', 4, N'35202-1234567-7', N'Rabiya Ansari')
SET IDENTITY_INSERT [dbo].[ResidentProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([Id], [ResidentProfileId], [RegistrationNumber], [VehicleType], [Make], [Model], [Color], [IsActive]) VALUES (1, 3, N'ABC-123', N'Car', N'Toyota', N'Corolla', N'black', 1)
INSERT [dbo].[Vehicles] ([Id], [ResidentProfileId], [RegistrationNumber], [VehicleType], [Make], [Model], [Color], [IsActive]) VALUES (2, 4, N'XYZ-786', N'Bike', N'Honda', N'CD70', N'Red', 1)
INSERT [dbo].[Vehicles] ([Id], [ResidentProfileId], [RegistrationNumber], [VehicleType], [Make], [Model], [Color], [IsActive]) VALUES (3, 4, N'ABC-124', N'Car', N'Toyota', N'Corolla', N'Black', 1)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitors] ON 

INSERT [dbo].[Visitors] ([Id], [FlatId], [VisitorName], [Phone], [VehicleNumber], [GatePassCode], [ValidFrom], [ValidUntil], [IsApproved]) VALUES (1, 2, N'Ali khan', N'03142336699', N'abc-282', N'VP123456', CAST(N'2026-08-16T13:00:00.0000000' AS DateTime2), CAST(N'2026-08-17T01:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Visitors] ([Id], [FlatId], [VisitorName], [Phone], [VehicleNumber], [GatePassCode], [ValidFrom], [ValidUntil], [IsApproved]) VALUES (3, 3, N'Ali', N'03142336699', N'ABC-123', N'932913', CAST(N'2026-08-16T12:00:00.0000000' AS DateTime2), CAST(N'2026-08-17T12:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Visitors] ([Id], [FlatId], [VisitorName], [Phone], [VehicleNumber], [GatePassCode], [ValidFrom], [ValidUntil], [IsApproved]) VALUES (4, 3, N'Ali', N'03142336699', N'ABC-123', N'555709', CAST(N'2026-08-16T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-17T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Visitors] OFF
GO
/****** Object:  Index [IX_AmenityBookings_AmenityId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AmenityBookings_AmenityId] ON [dbo].[AmenityBookings]
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AmenityBookings_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AmenityBookings_ResidentProfileId] ON [dbo].[AmenityBookings]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_ApplicationUserId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_ApplicationUserId] ON [dbo].[AuditLogs]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillItems_MaintenanceBillId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillItems_MaintenanceBillId] ON [dbo].[BillItems]
(
	[MaintenanceBillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Complaints_AssignedStaffId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Complaints_AssignedStaffId] ON [dbo].[Complaints]
(
	[AssignedStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Complaints_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Complaints_ResidentProfileId] ON [dbo].[Complaints]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmergencyContacts_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmergencyContacts_ResidentProfileId] ON [dbo].[EmergencyContacts]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FamilyMembers_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_FamilyMembers_ResidentProfileId] ON [dbo].[FamilyMembers]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GateLogs_SecurityGuardId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_GateLogs_SecurityGuardId] ON [dbo].[GateLogs]
(
	[SecurityGuardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GateLogs_VisitorId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_GateLogs_VisitorId] ON [dbo].[GateLogs]
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceBills_FlatId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceBills_FlatId] ON [dbo].[MaintenanceBills]
(
	[FlatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_ApplicationUserId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ApplicationUserId] ON [dbo].[Payments]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_MaintenanceBillId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_MaintenanceBillId] ON [dbo].[Payments]
(
	[MaintenanceBillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PollOptions_PollId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_PollOptions_PollId] ON [dbo].[PollOptions]
(
	[PollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PollVotes_PollId_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PollVotes_PollId_ResidentProfileId] ON [dbo].[PollVotes]
(
	[PollId] ASC,
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PollVotes_PollOptionId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_PollVotes_PollOptionId] ON [dbo].[PollVotes]
(
	[PollOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PollVotes_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_PollVotes_ResidentProfileId] ON [dbo].[PollVotes]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ResidentProfiles_ApplicationUserId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ResidentProfiles_ApplicationUserId] ON [dbo].[ResidentProfiles]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ResidentProfiles_CNIC]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ResidentProfiles_CNIC] ON [dbo].[ResidentProfiles]
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResidentProfiles_FlatId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ResidentProfiles_FlatId] ON [dbo].[ResidentProfiles]
(
	[FlatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_RegistrationNumber]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehicles_RegistrationNumber] ON [dbo].[Vehicles]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_ResidentProfileId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_ResidentProfileId] ON [dbo].[Vehicles]
(
	[ResidentProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Visitors_FlatId]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Visitors_FlatId] ON [dbo].[Visitors]
(
	[FlatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Visitors_GatePassCode]    Script Date: 8/18/2026 8:58:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Visitors_GatePassCode] ON [dbo].[Visitors]
(
	[GatePassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[ResidentProfiles] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[AmenityBookings]  WITH CHECK ADD  CONSTRAINT [FK_AmenityBookings_Amenities_AmenityId] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([Id])
GO
ALTER TABLE [dbo].[AmenityBookings] CHECK CONSTRAINT [FK_AmenityBookings_Amenities_AmenityId]
GO
ALTER TABLE [dbo].[AmenityBookings]  WITH CHECK ADD  CONSTRAINT [FK_AmenityBookings_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AmenityBookings] CHECK CONSTRAINT [FK_AmenityBookings_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[BillItems]  WITH CHECK ADD  CONSTRAINT [FK_BillItems_MaintenanceBills_MaintenanceBillId] FOREIGN KEY([MaintenanceBillId])
REFERENCES [dbo].[MaintenanceBills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillItems] CHECK CONSTRAINT [FK_BillItems_MaintenanceBills_MaintenanceBillId]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_AspNetUsers_AssignedStaffId] FOREIGN KEY([AssignedStaffId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_AspNetUsers_AssignedStaffId]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[EmergencyContacts]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyContacts_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmergencyContacts] CHECK CONSTRAINT [FK_EmergencyContacts_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[FamilyMembers]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMembers_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamilyMembers] CHECK CONSTRAINT [FK_FamilyMembers_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[GateLogs]  WITH CHECK ADD  CONSTRAINT [FK_GateLogs_AspNetUsers_SecurityGuardId] FOREIGN KEY([SecurityGuardId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GateLogs] CHECK CONSTRAINT [FK_GateLogs_AspNetUsers_SecurityGuardId]
GO
ALTER TABLE [dbo].[GateLogs]  WITH CHECK ADD  CONSTRAINT [FK_GateLogs_Visitors_VisitorId] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GateLogs] CHECK CONSTRAINT [FK_GateLogs_Visitors_VisitorId]
GO
ALTER TABLE [dbo].[MaintenanceBills]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceBills_Flats_FlatId] FOREIGN KEY([FlatId])
REFERENCES [dbo].[Flats] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceBills] CHECK CONSTRAINT [FK_MaintenanceBills_Flats_FlatId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_MaintenanceBills_MaintenanceBillId] FOREIGN KEY([MaintenanceBillId])
REFERENCES [dbo].[MaintenanceBills] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_MaintenanceBills_MaintenanceBillId]
GO
ALTER TABLE [dbo].[PollOptions]  WITH CHECK ADD  CONSTRAINT [FK_PollOptions_Polls_PollId] FOREIGN KEY([PollId])
REFERENCES [dbo].[Polls] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollOptions] CHECK CONSTRAINT [FK_PollOptions_Polls_PollId]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_PollOptions_PollOptionId] FOREIGN KEY([PollOptionId])
REFERENCES [dbo].[PollOptions] ([Id])
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_PollOptions_PollOptionId]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_Polls_PollId] FOREIGN KEY([PollId])
REFERENCES [dbo].[Polls] ([Id])
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_Polls_PollId]
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD  CONSTRAINT [FK_PollVotes_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollVotes] CHECK CONSTRAINT [FK_PollVotes_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[ResidentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_ResidentProfiles_AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ResidentProfiles] CHECK CONSTRAINT [FK_ResidentProfiles_AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[ResidentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_ResidentProfiles_Flats_FlatId] FOREIGN KEY([FlatId])
REFERENCES [dbo].[Flats] ([Id])
GO
ALTER TABLE [dbo].[ResidentProfiles] CHECK CONSTRAINT [FK_ResidentProfiles_Flats_FlatId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_ResidentProfiles_ResidentProfileId] FOREIGN KEY([ResidentProfileId])
REFERENCES [dbo].[ResidentProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_ResidentProfiles_ResidentProfileId]
GO
ALTER TABLE [dbo].[Visitors]  WITH CHECK ADD  CONSTRAINT [FK_Visitors_Flats_FlatId] FOREIGN KEY([FlatId])
REFERENCES [dbo].[Flats] ([Id])
GO
ALTER TABLE [dbo].[Visitors] CHECK CONSTRAINT [FK_Visitors_Flats_FlatId]
GO
USE [master]
GO
